

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddNews</title>
</head>
<body>
    <div> <form action="/AddNews" method="post">
              <input type="text"name="Title"/>
              <input type="submit"  value="insert khabar" />
        </form>
    </div>
</body>
</html>
